body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px;
    margin: 0% auto;
}

.container-1{
    width: 100%;
    background-color: #6E85B2;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    margin-left: 50px;
    cursor: pointer;
}
 .nav{
    width: 40%;
    padding-right: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.container-2{
    text-align: center;
    padding-top: 40px;
}

.container-2 .pic{
    height: 120px;
    width: 120px;
    border-radius: 100px;
}

.container-3{
    background-color: #6E85B2;
    display: flex;
    color: white;
    justify-content: space-between;
}
.design{
    margin-left: 70px;
    width: 450px;
}
.prompt{
    padding-right: 40px;
    padding-left: 30px;
}
.prompt a{
    text-decoration: none;
}

h3{
    color: #6E85B2;
    font-size: xx-large;
    margin-left: 70px;
    margin-bottom: 80px;
}
.ui{
    background-color: darkslategrey;
    border-radius: 8px;
    text-align: center;
    color: white;
    height: 150px;
    width: 200px;
    padding: 5px;
}
.web{
    background-color: darkslategrey;
    border-radius: 8px;
    text-align: center;
    color: white;
    height: 150px;
    width: 200px;
    padding: 5px;

}
.ins{
    background-color: darkslategrey;
    border-radius: 8px;
    text-align: center;
    color: white;
    height: 150px;
    width: 200px;
    padding: 5px;

}

.container-4{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 100%;
    /* height: 100%; */
    background-color: white;
}

.koko{
    background-color: #6E85B2;
    color: white;
    height: 100%;
}
.social{
    text-align: center;
    height: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content:center;

}
.lnkd{
    padding-right: 15px;
    height:15px;
    width:15px;
}
.koko a{
    text-decoration: none;
}
.fb{
    padding-right: 15px;
    height:15px;
    width:15px;
}
.ing{
    height:15px;
    width:15px;
}
.twt{
    padding-right: 15px;
    height:15px;
    width:15px;
}
.info-1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 40px;
}
.info-2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.copyright{
    text-align: center;
    margin-right:auto;
    margin-left: auto;
 }