html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    @media screen and (min-width:700px) and (max-width:1024px)

}
.container-1{
    width: 100%;
    background-color: #6E85B2;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.T{
    padding-left: 30px;
}
 .S{
    padding-right: 20px;
     
}
.container-2{
    text-align: center;
}

.container-2 .pic{
    height: 120px;
    width: 120px;
    border-radius: 100px;
}

.container-3{
    background-color: #6E85B2;
    display: flex;
    color: white;
}
.design{
    margin-left: 150px;
    width: 450px;
}
.prompt{
    margin-left: 150px;
}


/* .a{
    margin-right: 2%;
}
.b{
    margin-right: 2%;
}
.c{
    margin-left: 2%;

}
.d{
    margin-right: 20%;
} */

h3{
    color: #6E85B2;
    font-size: xx-large;
    margin-left: 150px;
    margin-bottom: 80px;
}
.ui{
    background-color: darkslategrey;
    border-radius: 8px;
    text-align: center;
    color: white;
    height: 180px;
    width: 200px;
    margin-left: 150px;
    padding: 5px 5px 5px 5px; 
    
    
}
.web{
    background-color: darkslategrey;
    border-radius: 8px;
    text-align: center;
    color: white;
    height: 180px;
    width: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px 5px 5px 5px;

}
.ins{
    background-color: darkslategrey;
    border-radius: 8px;
    text-align: center;
    color: white;
    height: 180px;
    width: 200px;
    padding-left: 200px;
    padding: 5px 5px 5px 5px;

}

.container-4{
    display: flex;
    position: relative;
    padding-bottom: 50px;
   
    
}

.koko{
    background-color: #6E85B2;
    color: white;
    height: 100%;
}
.tt{
    text-align: center;
    height: 100px;
    padding-bottom: 20px;

}
.lnkd{
    padding-right: 15px;
    height:15px;
    width:15px;
}
.fb{
    padding-right: 15px;
    height:15px;
    width:15px;
}
.ing{
    height:15px;
    width:15px;
}
.twt{
    padding-right: 15px;
    height:15px;
    width:15px;
}
.info-1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 40px;
}
.info-2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.copyright{
    text-align: center;
    margin-right:auto;
    margin-left: auto;
    margin-bottom: opx;
}
